<nav class="flex items-center justify-between flex-wrap bg-indigo-100 p-6">
  <div class="flex items-center flex-no-shrink text-indigo-800 mr-6">
    <span class="font-semibold text-xl tracking-tight">
      <%= link_to 'RUNTEQ senses', root_path, class: 'no-underline' %>
    </span>
  </div>
  <div>
    <div class="pr-0">
      <div class="flex relative inline-block float-right">
        <%= link_to 'About', '#', class: 'btn text-indigo-800 hover:bg-indigo-200' %>
        <%= link_to 'Products', root_path, class: 'btn text-indigo-800 hover:bg-indigo-200' %>
        <%= link_to 'Users', users_path, class: 'btn text-indigo-800 hover:bg-indigo-200' %>
        <% if logged_in? %>
          <div class="relative text-sm text-gray-100">
            <button id="userButton" class="btn items-center focus:outline-none mr-3">
              <img class="w-10 h-10 rounded-full mr-4" src="http://i.pravatar.cc/300" alt="Avatar of User">
            </button>
            <div id="userMenu" class="bg-white nunito rounded shadow-md absolute mt-12 top-5 right-0 min-w-full overflow-auto z-30 ">
              <ul class="list-reset">
                <li><%= link_to 'Profile', profile_path, class: 'px-4 py-2 block text-gray-900 hover:bg-indigo-200 no-underline hover:no-underline' %></li>
                <li><%= link_to 'Setting', '#', class: 'px-4 py-2 block text-gray-900 hover:bg-indigo-200 no-underline hover:no-underline' %></li>
                <li>
                    <hr class="border-t mx-2 border-gray-400">
                </li>
                <li><%= link_to 'Logout', logout_path, method: :delete, class: 'px-4 py-2 block text-gray-900 hover:bg-indigo-200 no-underline hover:no-underline' %></li>
              </ul>
            </div>
          </div>
        </div>
      <% else %>
        <%= link_to 'Login with GitHub', auth_at_provider_path(provider: :github), class: 'btn bg-black text-white' %>
      <% end %>
    </div>
  </div>
</nav>
