<%= form_with model: @product, class: 'form' do |f| %>
  <% if f.object.errors.any? %>
    <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <div class='form-group'>
    <div class='form-label'>
      <div style='flex items-center'>
        <%= f.label :title %>
        <span class='required'>必須</span>
      </div>
    </div>
    <%= f.text_field :title, required: true, class: 'text-field' %>
  </div>

  <div class='align-middle form-group'>
    <div class='form-label'>
      <div style='flex items-center'>
        <%= f.label :released_on %>
        <span class='required'>必須</span>
      </div>
    </div>
    <%= f.date_field :released_on, required: true, class: 'text-field' %>
  </div>

  <div class='form-group'>
    <%= f.label :url, class: 'form-label' %>
    <%= f.url_field :url, class: 'text-field' %>
  </div>
  <div class='form-group'>
    <%= f.label :source_url, class: 'form-label' %>
    <%= f.url_field :source_url, class: 'text-field' %>
    GitHubなどのURL
  </div>
  <div class='form-group'>
    <%= f.label :summary, class: 'form-label' %>
    <%= f.text_area :summary, class: 'text-field h-24' %>
  </div>
  <div class='form-group'>
    <div class='form-group inline-flex w-1/2 px-1'>
      <div class='form-label'>
        <div class='flex items-center'>
          <%= f.label :product_type_id %>
          <p class='required'>必須</p>
        </div>
      </div>
      <%= f.select :product_type_id, ProductType.asc.pluck(:name, :id), { required: true, prompt: '選択してください' }, class: 'select-box' %>
    </div>
    <div class='form-group inline-flex w-1/2 px-1'>
      <div class='form-label'>
        <div class='flex items-center'>
          <%= f.label :product_category_id %>
          <p class='required'>必須</p>
        </div>
      </div>
      <%= f.select :product_category_id, ProductCategory.asc.pluck(:name, :id), { required: true, prompt: '選択してください' }, class: 'select-box' %>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :technology_ids, class: 'form-label' %>
    （commandキーを押しながら複数選択可能）
    <%= f.select :technology_ids, Technology.order(:id).pluck(:name, :id), { include_blank: 'なし' }, { multiple: true, class: 'text-field' } %>
  </div>

  <div id='js-media-form'>
    <h2 class='text-lg'>メディア</h2>
    <p>関連記事・公式アカウントなど</p>
    <% @product.media.each do |medium| %>
      <%= render 'medium_form', f: f, medium: medium %>
    <% end %>
  </div>
  <div class='my-2'>
    <span class='cursor-pointer underline hover:opacity-75' onclick='addMediumForm(event)'>フォームを追加</span>
  </div>

  <div class='form-group'>
    <%= f.submit class: 'btn btn-indigo' %>
  </div>

  <%# バリデーションエラー時に再度実行されるので、二重定義を回避する %>
  <% if @product.errors.blank? %>
    <script>
      const addMediumForm = (e) => {
        const mediaForm = document.getElementById('js-media-form')
        mediaForm.insertAdjacentHTML('afterend', '<%= render 'medium_form', f: f, medium: ProductMedium.new %>');
      }

      const removeMediumForm = (e) => {
        const mediumForm = e.currentTarget.closest('.js-medium-form')
        mediumForm.remove();
      }
    </script>
  <% end %>
<% end %>
