<% content_for :css do %>
  <style type="text/css">
    label input[type="checkbox"]:checked + span {
      --tw-bg-opacity: 1;
    }
  </style>
<% end %>

<%= form_with model: @product_form, class: 'form' do |f| %>
  <% if f.object.errors.any? %>
    <ul>
      <% @product_form.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <div class='form-group'>
    <div class='form-label'>
      <div style='flex items-center'>
        <%= f.label :title %>
        <span class='required'>必須</span>
      </div>
    </div>
    <%= f.text_field :title, required: true, class: 'text-field' %>
  </div>

  <div class='align-middle form-group'>
    <div class='form-label'>
      <div style='flex items-center'>
        <%= f.label :released_on %>
        <span class='required'>必須</span>
      </div>
    </div>
    <%= f.date_field :released_on, required: true, min: '2000-01-01', max: Time.zone.today.since(1.month), class: 'text-field' %>
  </div>

  <div class='form-group'>
    <%= f.label :url, class: 'form-label' %>
    <%= f.url_field :url, class: 'text-field' %>
  </div>

  <div class='form-group'>
    <div class='form-label'>
      <div style='flex items-center'>
        <%= f.label :source_url %>
        <span class='required'>必須</span>
      </div>
    </div>
    <%= f.url_field :source_url, class: 'text-field' %>
    GitHubなどのURL
  </div>

  <div class='form-group'>
    <%= f.label :summary, class: 'form-label' %>
    <%= f.text_area :summary, class: 'text-field h-24' %>
  </div>

  <div class='form-group'>
    <div class='form-group inline-flex w-1/2 px-1'>
      <div class='form-label'>
        <div class='flex items-center'>
          <%= f.label :product_type_id %>
          <p class='required'>必須</p>
        </div>
      </div>
      <%= f.select :product_type_id, ProductType.asc.pluck(:name, :id), { required: true, prompt: '選択してください' }, class: 'select-box' %>
    </div>

    <div class='form-group inline-flex w-1/2 px-1'>
      <div class='form-label'>
        <div class='flex items-center'>
          <%= f.label :product_category_id %>
          <p class='required'>必須</p>
        </div>
      </div>
      <%= f.select :product_category_id, ProductCategory.asc.pluck(:name, :id), { required: true, prompt: '選択してください' }, class: 'select-box' %>
    </div>
  </div>

  <div class='form-group'>
    <%= f.label :technology_ids, class: 'form-label' %>
    <div class='flex flex-wrap items-center gap-x-2 gap-y-1'>
      <%= f.collection_check_boxes(:technology_ids, Technology.all, :id, :name) do |t| %>
        <%= t.label do %>
          <%= t.check_box(class: 'hidden') %>
          <span class='btn bg-gray-300 bg-opacity-25 hover:opacity-70'>
            <%= t.text %>
          </span>
        <% end %>
      <% end %>
    </div>
    <p class="mt-2">リクエストは<%= link_to 'お問い合わせフォーム', inquiry_path %>からお願いします。</p>
  </div>

  <div id='js-media-form'>
    <h2 class='text-lg font-bold'>メディア</h2>
    <p class="mb-2">関連記事・公式アカウントなど</p>
    <% @product_form.media.each do |medium| %>
      <%= render 'medium_form', f: f, medium: medium %>
    <% end %>
  </div>
  <div class='my-2'>
    <span class='cursor-pointer underline hover:opacity-75' onclick='addMediumForm(event)'>フォームを追加</span>
  </div>

  <div class='form-group'>
    <%= f.submit class: 'btn btn-indigo' %>
  </div>

  <%# バリデーションエラー時に再度実行されるので、二重定義を回避する %>
  <% if @product_form.errors.blank? %>
    <script type="text/javascript">
      const addMediumForm = (e) => {
        const mediaForm = document.getElementById('js-media-form')
        mediaForm.insertAdjacentHTML('afterend', '<%= render 'medium_form', f: f, medium: ProductMedium.new %>');
      }

      const removeMediumForm = (e) => {
        const mediumForm = e.currentTarget.closest('.js-medium-form')
        mediumForm.remove();
      }
    </script>
  <% end %>
<% end %>
