<div class='medium-form'>
  <%= f.fields_for 'media_attributes[]', ProductMedium.new, {} do |ff| %>
    <div class='form-group'>
      <%= ff.label :title, class: 'form-label' %>
      <%= ff.text_field :title, value: product.media_attributes.dig(0, 'title'), class: 'text-field' %>
    </div>
    <div class='form-group'>
      <%= ff.label :url, class: 'form-label' %>
      <%= ff.text_field :url, value: product.media_attributes.dig(0, 'url'), class: 'text-field' %>
    </div>
  <% end %>
</div>
