<% content_for(:title, @product.title) %>
<% content_for(:description, @product.summary.presence || @product.title) %>
<% content_for(:meta_image_url, url_for(@product.top_image&.product_image || "https://placehold.jp/70/d6d6d6/7d7d7d/800x450.png?text=No%20Image")) %>

<div class="mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-lg lg:px-8 lg:py-1">
  <div class="flex flex-col space-y-4 lg:space-y-0 lg:flex-row lg:items-center lg:justify-between">
    <div>
      <span class="text-gray-400">
        <%= @product.release_day_message %>
      </span>
      <div class="flex flex-col mt-2 space-y-1 sm:flex-row sm:space-y-0 sm:items-center sm:space-x-4">
        <h3 class="text-2xl font-semibold text-gray-800 dark:text-gray-200">
          <%= @product.title %>
        </h3>
        <div class="text-sm text-gray-400">
          by <%= link_to_if @product.user.active?, @product.user.display_name, user_path(@product.user.screen_name) %>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-end space-x-4">
      <% if @product.url.present? %>
        <%= link_to sanitize(@product.url), target: :_blank, rel: 'noopener noreferrer', class: "no-underline" do %>
          <button class="flex items-center px-4 py-2 space-x-3 text-gray-600 transition-colors duration-200 transform border rounded-lg dark:text-gray-200 dark:border-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none">
            <i class="fas fa-link"></i>
            <span>Site</span>
          </button>
        <% end %>
      <% end %>
      <% if @product.source_url.present? %>
        <%= link_to sanitize(@product.source_url), target: :_blank, rel: 'noopener noreferrer', class: "no-underline" do %>
          <button class="flex items-center px-4 py-2 space-x-3 text-gray-600 transition-colors duration-200 transform border rounded-lg dark:text-gray-200 dark:border-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none">
            <i class="fas fa-code"></i>
            <span>Code</span>
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
  <p class="my-2 text-gray-500 dark:text-gray-400 lg:max-w-xl">
    <%= safe_join(@product.summary.split("\n"), tag(:br)) %>
  </p>


  <%# <%= image_tag @product.top_image.product_image, alt: @product.title, class: 'w-full rounded shadow-lg' %>


  <div class="max-w-xl mb-2 -px-1">
    <% @product.technologies.each do |technology| %>
      <div class="span px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-200 text-gray-700">
        <%= technology.name %>
      </div>
    <% end %>
  </div>

  <div class="flex items-center flex-wrap">
    <div class="inline-flex tracking-widest text-sm title-font font-medium text-gray-400">
      <span class="inline-flex ml-auto px-2 text-xs leading-5 font-semibold bg-yellow-100 text-yellow-900 mb-2">
        <%= @product.product_type.name %>
      </span>
      <span class="inline-flex ml-2 px-2 text-xs leading-5 font-semibold bg-red-100 text-red-900 mb-2">
        <%= @product.product_category.name %>
      </span>
    </div>
  </div>

  <div class="flex flex-col justify-center">
    <ul>
      <% @product.media.each do |medium| %>
        <li class="flex mb-2">
          <span class="mr-1">
            <i class="fas fa-external-link-alt"></i>
          </span>
          <%= link_to_blank medium.title, medium.url %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="wrap whitespace-nowrap overflow-x-auto w-full" style="scroll-snap-type: x mandatory;">
    <% @images.each do |image| %>
      <div class="item inline-block px-2 whitespace-normal overflow-hidden w-full md:w-2/3" style="scroll-snap-align: center;">
        <%= image_tag image.product_image, alt: @product.title, class: 'rounded' %>
      </div>
      <%= render 'modal_image', image: image %>
    <% end %>
  </div>
</div>

<% if @product.permitted_edit?(current_user) %>
  <%= link_to 'Edit', edit_product_path(@product) %>
  <br>
  <%= link_to 'Destroy', @product, data: { confirm: 'Are you sure?' }, method: :delete %>
  <br>
  <%= link_to '画像登録', new_product_product_image_path(@product) %>
<% end %>
<script type="text/javascript">
  function toggleModal(modalID){
    document.getElementById(modalID).classList.toggle("hidden");
    document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
    document.getElementById(modalID).classList.toggle("flex");
    document.getElementById(modalID + "-backdrop").classList.toggle("flex");
  }
</script>
