 <% content_for(:title, @product.title) %>
<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="grid gap-12 row-gap-8 lg:grid-cols-2">
    <div class="flex flex-col justify-center">
      <div class="max-w-xl mb-6">
        <p class="text-base leading-6 text-indigo-500 font-semibold tracking-widest">
          <%= "#{@product.released_on} Released" %>
        </p>
        <h2 class="max-w-lg mb-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
          <%= @product.title %>
        </h2>
        <div class="max-w-xl mb-6 -mx-1">
          <% @product.technologies.each do |technology| %>
            <div class="span px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-200 text-gray-700">
              <%= technology.name %>
            </div>
          <% end %>
        </div>
        <%= simple_format h(@product.summary), class: 'text-base text-gray-700 md:text-lg' %>
      </div>

      <ul>
        <% @product.media.each do |medium| %>
          <li class="flex mb-2">
            <span class="mr-1">
              <svg class="h-4 w-4" viewBox="0 -5 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                </path>
              </svg>
            </span>
            <%= link_to_blank medium.title, medium.url %>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      <%= image_tag @product.top_image.product_image, alt: @product.title, class: 'object-cover w-full h-56 rounded shadow-lg sm:h-96' %>
    </div>
  </div>
</div>

以下はデータ表示用

<% @product.images.with_attached_product_image.each do |image| %>
  <div>
    <%= image_tag image.product_image, alt: @product.title, width: '600px' %>
    <% if @product.permitted_edit?(current_user) %>
      <%= link_to '編集', edit_product_image_path(@product, image) %>
      <%= link_to '削除', product_image_path(@product, image), method: :delete %>
    <% end %>
  </div>
<% end %>

<br>
<% @product.media.each do |medium| %>
  <%= link_to_blank medium.title, medium.url %>
  <% if @product.permitted_edit?(current_user) %>
    <%= link_to '編集', edit_product_medium_path(@product, medium) %>
    <%= link_to '削除', product_medium_path(@product, medium), method: :delete %>
  <% end %>
  <br>
<% end %>
<br>
<% @product.users.each do |user| %>
  <%= link_to user.display_name, user_path(user.screen_name) %>
<% end %>

<br>
<% if @product.permitted_edit?(current_user) %>
  <%= link_to 'Edit', edit_product_path(@product) %>
  <br>
  <%= link_to 'Destroy', @product, data: { confirm: 'Are you sure?' }, method: :delete %>
  <br>
  <%= link_to '画像登録', new_product_image_path(@product) %>
  <br>
  <%= link_to 'メディア登録', new_product_medium_path(@product) %>
<% end %>
