<% content_for(:title, @product.title) %>
<% content_for(:description, @product.summary.presence || @product.title) %>
<% content_for(:meta_image_url, url_for(@product.top_image.product_image)) %>

<div class="mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-lg lg:px-8 lg:py-1">
  <div class="flex flex-col space-y-4 lg:space-y-0 lg:flex-row lg:items-center lg:justify-between">
    <div>
      <span class="text-gray-400">
        <%= "#{@product.released_on} Released" %>
      </span>
      <div class="flex flex-col mt-2 space-y-1 sm:flex-row sm:space-y-0 sm:items-center sm:space-x-4">
        <h3 class="text-2xl font-semibold text-gray-800 dark:text-gray-200">
          <%= @product.title %>
        </h3>
        <div class="text-sm text-gray-400">
          by <%= link_to @product.user.display_name, user_path(@product.user.screen_name) %>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-end space-x-4">
      <% if @product.url.present? %>
        <%= link_to sanitize(@product.url), target: :_blank, rel: 'noopener noreferrer', class: "no-underline" do %>
          <button class="flex items-center px-4 py-2 space-x-3 text-gray-600 transition-colors duration-200 transform border rounded-lg dark:text-gray-200 dark:border-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none">
            <i class="fas fa-link"></i>
            <span>Site</span>
          </button>
        <% end %>
      <% end %>
      <% if @product.source_url.present? %>
        <%= link_to sanitize(@product.source_url), target: :_blank, rel: 'noopener noreferrer', class: "no-underline" do %>
          <button class="flex items-center px-4 py-2 space-x-3 text-gray-600 transition-colors duration-200 transform border rounded-lg dark:text-gray-200 dark:border-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none">
            <i class="fas fa-code"></i>
            <span>Code</span>
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
  <p class="my-2 text-gray-500 dark:text-gray-400 lg:max-w-xl">
    <%= safe_join(@product.summary.split("\n"), tag(:br)) %>
  </p>


  <%= image_tag @product.top_image.product_image, alt: @product.title, class: 'w-full rounded shadow-lg' %>


  <div class="max-w-xl mb-2 -px-1">
    <% @product.technologies.each do |technology| %>
      <div class="span px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-200 text-gray-700">
        <%= technology.name %>
      </div>
    <% end %>
  </div>

  <div class="flex items-center flex-wrap">
    <div class="inline-flex tracking-widest text-sm title-font font-medium text-gray-400">
      <span class="inline-flex ml-auto px-2 text-xs leading-5 font-semibold bg-yellow-100 text-yellow-900 mb-2">
        <%= @product.product_type.name %>
      </span>
      <span class="inline-flex ml-2 px-2 text-xs leading-5 font-semibold bg-red-100 text-red-900 mb-2">
        <%= @product.product_category.name %>
      </span>
    </div>
  </div>

    <div class="flex flex-col justify-center">


      <ul>
        <% @product.media.each do |medium| %>
          <li class="flex mb-2">
            <span class="mr-1">
              <i class="fas fa-external-link-alt"></i>
            </span>
            <%= link_to_blank medium.title, medium.url %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<br>
<br>
<br>
以下はデータ表示用
<br>
<br>
<br>

<% @product.images.with_attached_product_image.each do |image| %>
  <div>
    <%= image_tag image.product_image, alt: @product.title, width: '600px' %>
    <% if @product.permitted_edit?(current_user) %>
      <%= link_to '編集', edit_product_product_image_path(@product, image) %>
      <%= link_to '削除', product_product_image_path(@product, image), method: :delete %>
    <% end %>
  </div>
<% end %>

<div class="carousel relative rounded relative overflow-hidden shadow-xl">
  <div class="carousel-inner relative overflow-hidden w-full">
    <% @product.images.with_attached_product_image.each.with_index do |image, index| %>
      <input class="carousel-open" type="radio" id="carousel-<%= index %>" name="carousel" aria-hidden="true" hidden="" checked="checked">
      <div class="carousel-item absolute opacity-0 bg-center" style="height:500px; background-image: url(<%= rails_blob_path(image.product_image, disposition: "attachment") %>)">
      </div>
      <label for="carousel-<%= index - 1 %>"
        class="control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto flex justify-center content-center">
        <i class="fas fa-angle-left mt-3"></i>
      </label>
      <label for="carousel-<%= index + 1 %>"
        class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">
        <i class="fas fa-angle-right mt-3"></i>
      </label>
    <% end %>
<%#
    <!--Slide 2-->
    <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
    <div class="carousel-item absolute opacity-0 bg-center" style="height:500px; background-image: url(https://mdbootstrap.com/img/new/slides/043.jpg)">
    </div>
    <label for="carousel-1"
      class=" control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto"><i
        class="fas fa-angle-left mt-3"></i></label>
    <label for="carousel-3"
      class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto"><i
        class="fas fa-angle-right mt-3"></i></label>

    <!--Slide 3-->
    <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
    <div class="carousel-item absolute opacity-0" style="height:500px; background-image: url(https://mdbootstrap.com/img/new/slides/054.jpg)">
    </div>
    <label for="carousel-2"
      class="control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto"><i
        class="fas fa-angle-left mt-3"></i></label>
    <label for="carousel-1"
      class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto"><i
        class="fas fa-angle-right mt-3"></i></label> %>

  </div>
</div>

<br>
<% if @product.permitted_edit?(current_user) %>
  <%= link_to 'Edit', edit_product_path(@product) %>
  <br>
  <%= link_to 'Destroy', @product, data: { confirm: 'Are you sure?' }, method: :delete %>
  <br>
  <%= link_to '画像登録', new_product_product_image_path(@product) %>
  <br>
  <%= link_to 'メディア登録', new_product_product_medium_path(@product) %>
<% end %>
